@import url("header.css");
@import url("content.css");
@import url("footer.css");
@import url("rowimg.css");
@import url("media.css");
body{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content .container{
    width: 1100px;
}

h1{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 60px;
    text-align: left;  
    text-transform: uppercase;
}
h2{
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
}
h3{
    margin: 0;
    padding-top: 135px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    text-transform: uppercase;
}
.title{
    color: #FFFFFF;
}
.title_black{
    color: #1E1E1E;
}
